{% extends 'RedSolidariaMainBundle:Default:index.html.twig' %}

{% block stylesheets %}
    {{ parent()}}
{% endblock %}

{% block body %}
    {{ parent() }}
    
    

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron row">
        <h1>Navbar example</h1>
{#            {{ form(form) }}#}
        <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p><a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a></p>
    </div>

{#    <div id="publicaciones">#}
        <div class="row">
            <div class="col-md-12 list-group">
                {% for item in ultimasPublicaciones %}
                    <a href="{{ path('mostrarPublicacion', {'id': item.id})}}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ item.titulo}}</h4>
                        <p class="list-group-item-text">{{ item.descripcion}}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
{#    </div>#}

    <div class="row clearfix">
        <div class="col-md-4 column">
        </div>
        <div class="col-md-4 column">
            <ul class="pagination text-center">
                <li>
                    <a href="#">Prev</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 column">
        </div>
    </div>


<!--</div>--> <!-- /container -->

{% endblock %}