{% extends 'RedSolidariaMainBundle:Default:index.html.twig' %}

{% block stylesheets %}
    {{ parent()}}
{% endblock %}

{% block body %}

{{parent()}}
    

    <ol class="breadcrumb">
        <li><a href="{{path('red_solidaria_main_homepage')}}">Home</a></li>
        <li><a href="#" class="active">publicación{{publicacion.id}}</a></li>
    </ol>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">{{ publicacion.titulo }}</div>
        <div class="panel-body">
            <p>{{ publicacion.descripcion }}</p>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">{{ publicacion.fechaInicio |date('Y-m-d') }}</li>
            <li class="list-group-item">{{ publicacion.fechaFin |date('Y-m-d') }}</li>
            <li class="list-group-item">{{ publicacion.autor.nombres }}</li>
        </ul>
    </div>

    {% if app.user is defined %}
    
    <h1>{{ app.user }}</h1>
    
    {{ include ('RedSolidariaMainBundle:componentes:modalConfirmation.html.twig') }}
    {% endif %}

{% endblock %}